Package: sail
Version: 6.0.0-5
Architecture: all
Maintainer: CoCo <admin@aelintra.com>
Installed-Size: 21230
Depends: sailhpe, asterisk, asterisk-mp3, asterisk-mysql, apache2, sqlite3, php5-gd, php5-sqlite, php5-curl, php5-mysql, php-pear, libio-socket-multicast-perl, libapache2-mod-php5, libdbi-perl, libdbd-sqlite3-perl, runit, sox, mysql-server, nmap, zip, ntp, libfile-readbackwards-perl, shorewall, shorewall6, fail2ban, sudo, dos2unix, dnsmasq, tshark, vim, debian-archive-keyring, less, hostname, ipcalc, php5-ldap, slapd, ldap-utils, asterisk-dahdi, dahdi, speedtest-cli
Section: network
Priority: extra
Description: SARK  Asterisk Integration Layer (SAIL) - A fast, lightweight switch for Asterisk
 SARK  Asterisk Integration Layer (SAIL).  Admin and backend code to configure and build Asterisk dialplans on the fly.
