Package: sail
Version: 4.1.0-13
Architecture: all
Maintainer: CoCo <admin@aelintra.com>
Installed-Size: 19142
Depends: sailhpe, asterisk, asterisk-dahdi, asterisk-mp3, dahdi, apache2, sqlite3, php5-sqlite, php-pear, libio-socket-multicast-perl, libapache2-mod-php5, libdbi-perl, libdbd-sqlite3-perl, runit, sox, mysql-server, asterisk-mysql, php5-mysql, nmap, zip, ntp, php-net-ipv4, libfile-readbackwards-perl, shorewall, fail2ban, sudo, dos2unix, dnsmasq, tshark, vim, debian-archive-keyring, less, hostname, ipcalc, php5-ldap, slapd, ldap-utils
Section: network
Priority: extra
Description: SARK  Asterisk Integration Layer (SAIL) - A fast, lightweight switch for Asterisk
 SARK  Asterisk Integration Layer (SAIL).  Admin and backend code to configure and build Asterisk dialplans on the fly.
