[Unit]
Description=Setup SARK
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/php /opt/sark/generator/setip.php
RemainAfterExit=false
#ExecStop=/opt/foo/teardown-foo.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
